.header {
    &__title {
        color: black;
        font-weight: 700;
        font-size: 18px;

        &:hover {
            color: black;
            text-decoration: underline;
        }
    }
}


a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
        color: black;
    }
}

.main{
    .task-description {
        margin-top: 30px;
        font-size: 18px;
    }
    
    .task-textarea {
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
    }
    
    .task-button {
        margin: 30px 0;
    
    }
    
    .tasks-link {
        font-size: 24px;
        text-decoration: none;
    }
    
    .task-id {
        pointer-events: none;
        background: rgb(225, 225, 225);
    }
    
    .register-input {
        margin-bottom: 20px;
    }
}

