{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow justify-content-between">
        <a class="header__title my-0 mr-md-auto font-weight-normal" href="{% url 'home' %}">Сервис собеседований</a>
        <nav class="header__nav my-2 my-md-0 mr-md-3 ">
            <a class="header__link p-2 text-dark link" href="{% url 'home' %}">Главная</a>
            <a class="header__link p-2 text-dark link" href="{% url 'create' %}">Создать задание</a>
        </nav>
        <a class="header__register-button btn btn-outline-primary" href="{% url 'register' %}">Регистрация</a>
    </header>

    <main class="container main">
        {% block content %}{% endblock %}
    </main>

    <footer class="container footer">
        <p class="text-center">Андреев Илья Геннадьевич 211-322</p>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>