{% extends 'main/base.html' %}

{% block title %}
Создать задание
{% endblock %}

{% block content %}
    <h1 class="main__title">Создать задание</h1>
    <form class="main__form" method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.task }}<br>
        <button class="main__form-button btn btn-success">Добавить</button>
        <span>{{error}}</span>
    </form>
    
{% endblock %}