{% extends 'main/base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
    <h1 class="main__title">Главная страница (Задания)</h1>
    {% if tasks %}
        {% for el in tasks %}
            <div class="main__task-wrapper alert alert-warning mt-2">
                <a class="main__task-title tasks-link" href="{% url 'task' %}?id={{ el.id }}">{{ el.title }}</a>
                <p class="main__task-description">{{ el.task }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p class="main__error-paragraph">Записей нет</p>
    {% endif %}

{% endblock %}