{% extends 'main/base.html' %}

{% block content %}

    <h1 class="main__title">Регистрация</h1>
    <form class="main__form" method="post">
        {% csrf_token %}

        {{form}}
        <button class="main__form-button task-button btn btn-success">Отправить ответ</button>
    </form>
{% endblock %}