{% extends 'main/base.html' %}

{% block content %}
    <h1 class="main__title my-0 mr-md-auto font-weight-normal">Задание - {{task.title}}</h1>
    <p class="main__description task-description mr-md-auto font-weight-normal">{{ task.task }}</p>
    <a href="{% url 'update' task.id %}" class="btn btn-info">Изменить</a>
    <a href="{% url 'delete' task.id %}" class="btn btn-danger">Удалить</a>
    <form class="main__form" method="post" class="col-lg-6">
        
        {% csrf_token %}
        <label class="main__label" for="answer">Вставьте свой код</label>
        <br>
        {{ form }}
        <br>
        
        <button class="main__button task-button btn btn-success">Отправить ответ</button>
    </form>
{% endblock %}

