.header__title {
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.header__title:hover {
  color: black;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  color: black;
}

.main .task-description {
  margin-top: 30px;
  font-size: 18px;
}
.main .task-textarea {
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}
.main .task-button {
  margin: 30px 0;
}
.main .tasks-link {
  font-size: 24px;
  text-decoration: none;
}
.main .task-id {
  pointer-events: none;
  background: rgb(225, 225, 225);
}
.main .register-input {
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */